@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    /* 優先使用 Mac 宋體，次之 Windows 新細明體 */
    font-family: "Songti TC", "Noto Serif TC", "PMingLiU", "新細明體", "SimSun", serif !important;
  }

  body {
    @apply bg-[#f1f5f9];
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}